<h3><%= f.label "Comments:" %><br></h3>
<div id="comments-div">
  <div id="previous-comments">
    <%= f.fields_for :comments do |ff| %>
      <%= print_comments(ff) %>
    <% end %>
  </div>
  <textarea></textarea>
</div>