<ul class="alert fields_with_errors <%= alert_type %>" id="alert-ul">
  <strong><%= message %></strong>
  <% object.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>